ai_agent-nAL06Fzxnw5g0joq.json
{"updatedAt":"2026-03-26T20:46:42.032Z","createdAt":"2026-03-26T19:14:49.844Z","id":"nAL06Fzxnw5g0joq","name":"AI_agent","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"77197bec-3092-4f83-8764-01a22327f47a","name":"Webhook","webhookId":"7e386449-801b-4a36-943c-5c676aa14b6b"},{"parameters":{"assignments":{"assignments":[{"id":"e9fbea40-158b-4829-89ad-6d6b636e1b1d","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"9ee60494-b75d-47b6-a972-3dc32fe97486","name":"session","value":"={{ $json.body.session }}","type":"string"},{"id":"25f4e70f-1257-42ff-8e36-9641f5900080","name":"message_id","value":"={{ $json.body.payload.id }}","type":"string"},{"id":"ac35b27e-b00f-49dd-b2c9-ac4d7f4c290a","name":"from","value":"={{ $json.body.payload._data.from }}","type":"string"},{"id":"6321e424-ef83-42fa-aaab-9ad520dda998","name":"to","value":"={{ $json.body.payload._data.to }}","type":"string"},{"id":"5c33914a-762a-4fd9-9e95-61955de49742","name":"=notifyName","value":"= {{ $json.body.payload._data.notifyName }}","type":"string"},{"id":"d0eeb5fd-ed64-4ac5-8a3f-04b1935b9f70","name":"fromMe","value":"={{ $json.body.payload.from }}","type":"string"},{"id":"947424c0-f4cb-4fd1-8a33-e3a6957ecd36","name":"source","value":"={{ $json.body.payload.source }}","type":"string"},{"id":"77f2ecd4-3517-4a8c-b870-59e1ff4de949","name":"body","value":"={{ $json.body.payload.body }}","type":"string"},{"id":"bd52dac5-5371-4718-9981-0d8242a8b3e7","name":"hasMedia","value":"={{ $json.body.payload.hasMedia }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"c4bb2b0d-a7bb-4a0d-bfb1-3e50f2930247","name":"Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"26f7bdd1-9a8f-4d1a-afa9-64bc87f1e687","leftValue":"={{ $json.source }}","rightValue":"api","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"19724516-93f0-491b-a56e-c7614cfc5bc0","name":"API?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ef21af8-a2ec-4a0d-9bd8-221ae3582da2","leftValue":"={{ $json.to }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[592,160],"id":"130a63b2-27c9-4ce3-a66e-9307ff19b5f8","name":"Ignorar_grupos"}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"API?","type":"main","index":0}]]},"API?":{"main":[[],[{"node":"Ignorar_grupos","type":"main","index":0}]]},"Ignorar_grupos":{"main":[[],[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"accept":"application/json, text/plain, */*","content-type":"application/json","user-agent":"WAHA/2026.3.2","x-webhook-request-id":"qlm9ym1cmn7uu9v4","x-webhook-timestamp":"1774552668016","content-length":"2725","accept-encoding":"gzip, compress, deflate, br","host":"host.docker.internal:5678","connection":"keep-alive"},"params":{},"query":{},"body":{"id":"evt_01kmns9nvgy678at3nw552wjq2","timestamp":1774552668016,"event":"message.any","session":"default","me":{"id":"554896542875@c.us","pushName":"Kauã Covre"},"payload":{"id":"false_120363166995495605@g.us_3EB0E73D4BB5066D0707","timestamp":1774552624,"from":"120363166995495605@g.us","fromMe":false,"source":"app","to":"554896542875@c.us","body":"","hasMedia":false,"media":null,"ackName":"UNKNOWN","location":null,"vCards":[],"_data":{"id":{"fromMe":false,"remote":"120363166995495605@g.us","id":"3EB0E73D4BB5066D0707","_serialized":"false_120363166995495605@g.us_3EB0E73D4BB5066D0707"},"viewed":false,"type":"notification_template","subtype":"limit_sharing_system_message","t":1774552624,"from":"120363166995495605@g.us","to":"554896542875@c.us","isNewMsg":true,"star":false,"kicNotified":false,"recvFresh":true,"isFromTemplate":false,"isAdsMedia":false,"pollInvalidated":false,"isSentCagPollCreation":false,"latestEditMsgKey":null,"latestEditSenderTimestampMs":null,"mentionedJidList":[],"groupMentions":[],"isEventCanceled":false,"eventInvalidated":false,"isVcardOverMmsDocument":false,"templateParams":[],"isForwarded":false,"isQuestion":false,"questionReplyQuotedMessage":null,"questionResponsesCount":0,"readQuestionResponsesCount":0,"forwardsCount":0,"hasReaction":false,"newsletterAdminProfile":null,"productHeaderImageRejected":false,"lastPlaybackProgress":0,"isDynamicReplyButtonsMsg":false,"isCarouselCard":false,"parentMsgId":null,"callSilenceReason":null,"isVideoCall":false,"callDuration":null,"callCreator":null,"callParticipants":null,"isCallLink":null,"callLinkToken":null,"terminatedByDeviceSwitch":null,"selfOtherDeviceConnected":null,"isMdHistoryMsg":false,"stickerSentTs":0,"isAvatar":false,"lastUpdateFromServerTs":0,"invokedBotWid":null,"bizBotType":null,"botResponseTargetId":null,"botPluginType":null,"botPluginReferenceIndex":null,"botPluginSearchProvider":null,"botPluginSearchUrl":null,"botPluginSearchQuery":null,"botPluginMaybeParent":false,"botReelPluginThumbnailCdnUrl":null,"botMessageDisclaimerText":null,"botSessionTransparencyType":null,"botMsgBodyType":null,"botModeSelection":null,"botModeOverride":null,"requiresDirectConnection":null,"bizContentPlaceholderType":null,"hostedBizEncStateMismatch":false,"senderOrRecipientAccountTypeHosted":false,"placeholderCreatedWhenAccountIsHosted":false,"limitSharing":{"sharingLimited":true,"trigger":0,"limitSharingSettingTimestamp":0},"groupHistoryBundleMessageKey":null,"groupHistoryBundleMetadata":null,"groupHistoryIndividualMessageInfo":null,"nonJidMentions":null,"links":[]}},"engine":"WEBJS","environment":{"version":"2026.3.2","engine":"WEBJS","tier":"CORE","browser":"/usr/bin/chromium","platform":"linux/x64","worker":{"id":null}}},"webhookUrl":"http://localhost:5678/webhook/webhook","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"9c9416ab-63b3-47f1-9514-5c13ee8bc13b","activeVersionId":"9c9416ab-63b3-47f1-9514-5c13ee8bc13b","triggerCount":1,"shared":[{"updatedAt":"2026-03-26T19:14:49.847Z","createdAt":"2026-03-26T19:14:49.847Z","role":"workflow:owner","workflowId":"nAL06Fzxnw5g0joq","projectId":"MZwB9gDGBGN6ebqv"}],"activeVersion":{"updatedAt":"2026-03-26T20:37:14.000Z","createdAt":"2026-03-26T20:37:12.471Z","versionId":"9c9416ab-63b3-47f1-9514-5c13ee8bc13b","workflowId":"nAL06Fzxnw5g0joq","nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"77197bec-3092-4f83-8764-01a22327f47a","name":"Webhook","webhookId":"7e386449-801b-4a36-943c-5c676aa14b6b"},{"parameters":{"assignments":{"assignments":[{"id":"e9fbea40-158b-4829-89ad-6d6b636e1b1d","name":"event","value":"={{ $json.body.event }}","type":"string"},{"id":"9ee60494-b75d-47b6-a972-3dc32fe97486","name":"session","value":"={{ $json.body.session }}","type":"string"},{"id":"25f4e70f-1257-42ff-8e36-9641f5900080","name":"message_id","value":"={{ $json.body.payload.id }}","type":"string"},{"id":"ac35b27e-b00f-49dd-b2c9-ac4d7f4c290a","name":"from","value":"={{ $json.body.payload._data.from }}","type":"string"},{"id":"6321e424-ef83-42fa-aaab-9ad520dda998","name":"to","value":"={{ $json.body.payload._data.to }}","type":"string"},{"id":"5c33914a-762a-4fd9-9e95-61955de49742","name":"=notifyName","value":"= {{ $json.body.payload._data.notifyName }}","type":"string"},{"id":"d0eeb5fd-ed64-4ac5-8a3f-04b1935b9f70","name":"fromMe","value":"={{ $json.body.payload.from }}","type":"string"},{"id":"947424c0-f4cb-4fd1-8a33-e3a6957ecd36","name":"source","value":"={{ $json.body.payload.source }}","type":"string"},{"id":"77f2ecd4-3517-4a8c-b870-59e1ff4de949","name":"body","value":"={{ $json.body.payload.body }}","type":"string"},{"id":"bd52dac5-5371-4718-9981-0d8242a8b3e7","name":"hasMedia","value":"={{ $json.body.payload.hasMedia }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"c4bb2b0d-a7bb-4a0d-bfb1-3e50f2930247","name":"Dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"26f7bdd1-9a8f-4d1a-afa9-64bc87f1e687","leftValue":"={{ $json.source }}","rightValue":"api","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"19724516-93f0-491b-a56e-c7614cfc5bc0","name":"API?"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"5ef21af8-a2ec-4a0d-9bd8-221ae3582da2","leftValue":"={{ $json.to }}","rightValue":"@g.us","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[592,160],"id":"130a63b2-27c9-4ce3-a66e-9307ff19b5f8","name":"Ignorar_grupos"}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"API?","type":"main","index":0}]]},"API?":{"main":[[],[{"node":"Ignorar_grupos","type":"main","index":0}]]},"Ignorar_grupos":{"main":[[],[]]}},"authors":"Kauã Covre","name":"Version 9c9416ab","description":"","autosaved":false},"tags":[]}