barber_agent-ZKaNGyOorGz9IByL.json
{"updatedAt":"2026-03-26T19:14:29.000Z","createdAt":"2026-03-24T18:50:34.118Z","id":"ZKaNGyOorGz9IByL","name":"Barber_Agent","active":false,"isArchived":true,"nodes":[{"parameters":{"content":"# Divisão de Mensagens ","height":440,"width":920,"color":7},"id":"5988f9c5-910a-4478-a842-78db3cb81e00","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[848,-416]},{"parameters":{"httpMethod":"POST","path":"clinica-youtube","options":{}},"id":"acd23174-b6d5-4fc0-aec8-95e26395ba8d","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2288,-256],"webhookId":"7ecd43ed-123c-4fef-b86d-f9ce39e55d64"},{"parameters":{"assignments":{"assignments":[{"id":"2f74b357-ea21-442a-9fc2-a558966a8e43","name":"Nome","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"26708c9c-ce53-4f6c-a3ce-437eb2b84920","name":"Mensagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"d5ebe46c-8b94-4c4e-90ed-5e8cc6df42bc","name":"Numero","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2080,-256],"id":"75ef1e0d-cd88-4f11-9b84-169ad03cec37","name":"Dados"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[464,-304],"id":"0c8add54-f089-4fa8-b1ae-69633053f5a6","name":"AI Agent","retryOnFail":false,"executeOnce":false,"alwaysOutputData":false},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1296,-304],"id":"e59d3fd7-967e-4c4b-bb5f-10064d7fece1","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,-304],"id":"854b4a44-ff14-4c25-8d1e-0778bdc2990a","name":"Split Out"},{"parameters":{"content":"## Filtro Dados\n- agregar dados úteis em um único node","height":440,"width":220,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,-416],"id":"1555593e-4a79-4580-9c48-76e24921bc3f","name":"Sticky Note3"},{"parameters":{"content":"## Banco de dados\n- Verifica se o lead existe no Banco de dados\n- Se não existir cria o lead na tabela ","height":440,"width":524,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1920,-416],"id":"4d255a56-9bac-4b22-9145-13c3d6d6b8ca","name":"Sticky Note4"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[272,-128],"id":"288e6e75-cd12-4e57-ac3d-4b7dad805425","name":"OpenAI1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"id":"39afc77a-b52c-4894-8023-f1637af99ba2","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1312,-288]},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.ogg","mimeType":"application/ogg"}},"id":"7aa9f89b-078c-41c1-b476-2188ad16fbc2","name":"Convert to File","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-912,-160]},{"parameters":{"content":"## Filtro Texto/Audio\n","height":440,"width":964,"color":7},"id":"ce74d740-069c-4284-b64b-d96973ad4fe1","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1392,-416]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"eb208c43-a329-4aae-960e-9cbcdee80a09","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,-160]},{"parameters":{"assignments":{"assignments":[{"id":"68f2163b-37a2-49e6-93d2-1fabb50305d0","name":"text","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1072,-320],"id":"060b0355-db81-4dcd-882d-6be2c940cd66","name":"text"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"4a8f8f7a-c43c-446c-919e-585e46f6bcd7","name":"transcript","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-752,-160]},{"parameters":{"assignments":{"assignments":[{"id":"54020458-c901-4bba-8e6d-06e32d80ba5d","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-592,-320],"id":"455a9b93-d17f-432c-a281-07c8445fa7e3","name":"finalText"},{"parameters":{"operation":"push","list":"=buffer: {{ $('Dados').item.json.Numero }}","messageData":"={{ $('finalText').item.json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-304,-304],"id":"f37d9601-e90a-4e17-9a7a-3d17623b31e8","name":"push"},{"parameters":{"amount":"=5"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-144,-304],"id":"2eca4515-e78f-418c-ae8e-fbb3c4193c32","name":"Wait","webhookId":"43aa8e0d-8bb5-48d9-b869-620cb9651025"},{"parameters":{"operation":"get","propertyName":"msgs","key":"=buffer: {{ $('Dados').item.json.Numero }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[16,-304],"id":"d4fc250c-b097-4071-a470-4d682a9ff125","name":"msgs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42afc77a-7ce3-48c1-bccf-e26a7b291ad8","leftValue":"={{ $json.msgs.last() }}","rightValue":"={{ $('finalText').item.json.text }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-304,-144],"id":"5bb4ee00-b929-4218-b32d-182bfba3f332","name":"filterBuffer"},{"parameters":{"operation":"delete","key":"=buffer: {{ $('Dados').item.json.Numero }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-144,-144],"id":"3e59a421-3fdb-4b3e-8495-7430bbdea46c","name":"deleteBuffer"},{"parameters":{"content":"# Buffer\n- Espera para juntar mensagens Picotadas","height":440,"width":664,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-416],"id":"d13f31c1-48a7-4a3a-bb2f-a254ee1dc15d","name":"Sticky Note15"},{"parameters":{"assignments":{"assignments":[{"id":"6e3bdb73-4771-4318-9ebd-73085f56ae4e","name":"text","value":"={{ $('filterBuffer').item.json.msgs.join('\\n') }}","type":"string"}]},"includeOtherFields":"={{ false }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,-144],"id":"296b6ae5-1b28-45c2-b3f5-767ca4b005a4","name":"junta_msgs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a6d9aac-8565-4c58-abe3-8741393a5535","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,-256],"id":"1ab6bfc6-0b63-4073-a727-dcee53398a3d","name":"já_existe_numero"},{"parameters":{"assignments":{"assignments":[{"id":"3f542bcc-2975-4a9a-ac4a-1c1a10c3f194","name":"output","value":"={{ $json.output.mensagem.split('\\n\\n') }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-304],"id":"db72cb00-8269-44ef-85e0-63418a23ecc7","name":"divide_msgs"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1536,-320],"id":"3e35d4ff-c81b-44ff-972b-7a85a428b27d","name":"End"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.Numero }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[368,-128],"id":"9af5463a-d4dd-4448-84b8-4f9a771d82bd","name":"Chat"},{"parameters":{"endpointUrl":"https://dinastia-n8n-webhook.wpyhtp.easypanel.host/mcp/clinica-x/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[464,-128],"id":"b2104d60-6067-4a7d-b080-567f9715f223","name":"agendamentos"},{"parameters":{"operation":"executeQuery","query":"create table dados_cliente (\n  id bigserial primary key,\n  created_at TIMESTAMPTZ, \n  telefone text, \n  nomewpp text\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2032,-768],"id":"0fe62b44-048e-4472-b97b-25ade3305299","name":"Cria Tabela Dados Cliente"},{"parameters":{"content":"## Criar tabela banco de dados","height":272,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2144,-848],"id":"c7c170da-ea33-42e3-b79c-58ec4a2f530c","name":"Sticky Note"},{"parameters":{"tableId":"dados_cliente","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Dados').item.json.Numero }}"},{"fieldId":"created_at","fieldValue":"={{ $now }}"},{"fieldId":"nomewpp","fieldValue":"={{ $('Dados').item.json.Nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,-160],"id":"edc2e997-01a9-40bd-aea2-20c5d49c9a82","name":"criar_lead"},{"parameters":{"operation":"get","tableId":"dados_cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.Numero }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1872,-256],"id":"9f8eb905-97bc-494b-a34c-31f310aedf64","name":"Consulta se o Lead existe","alwaysOutputData":true},{"parameters":{"descriptionType":"manual","toolDescription":"=Use esta ferramenta para reagendar um evento. \n- Sempre use a ferramenta \"listar_eventos\" antes de usar esta ferramenta. \n- Quando atualizado com sucesso, retorne o 'id' como (aoqcj5f0b6qs5591brfm14g6gsc).\n- Retorne \"status\": \"agendado\"\n","operation":"update","calendar":{"__rl":true,"value":"ca65b36490f8f0e06c8cb70a423920c5c4fa670c66e83242c8c1d8d3b4bca1b8@group.calendar.google.com","mode":"list","cachedResultName":"Karen"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[576,384],"id":"9de23357-92ba-47e2-9ed7-1d66c0a6c000","name":"reagendar"},{"parameters":{"descriptionType":"manual","toolDescription":"=# PAPEL\nVocê executa **consulta de disponibilidade** da Clínica Olimphia identificando horários LIVRES para agendamento.\n\n## INSTRUÇÕES\n\n### PASSO 1 - OBRIGATÓRIO: Declare o dia da semana\n* \"O dia X cai em um [dia da semana]\"\n* Use {{$now}} como referência para calcular\n\n### PASSO 2 - OBRIGATÓRIO: Valide se é dia útil\n* Se **SÁBADO/DOMINGO:** PARE e responda: \"O dia X cai em um [sábado/domingo]. Não atendemos nos finais de semana. Posso sugerir horários dos próximos dias úteis?\"\n* Se **SEGUNDA-SEXTA:** Prossiga para PASSO 3\n\n### PASSO 3 - OBRIGATÓRIO: Consulte eventos ocupados\n* Busque TODOS os agendamentos do dia solicitado\n* Calcule horários DISPONÍVEIS (8h às 18h menos ocupados)\n* **NUNCA** diga \"não temos horários\" sem consultar\n\n### PASSO 4 - OBRIGATÓRIO: Apresente disponibilidade com REGRA DO BUFFER DE 30 MINUTOS\n\n**REGRA CRÍTICA DO BUFFER:** O buffer de 30 minutos se aplica APENAS para horários disponíveis que terminam IMEDIATAMENTE ANTES de um horário ocupado.\n\n**Quando aplicar o buffer:**\n* ✅ Horário disponível termina e logo depois tem ocupado → aplicar buffer\n* ❌ Horário disponível começa depois de um ocupado → SEM buffer\n\n**Exemplos práticos:**\n* **Ocupado às 11h:**\n  - ✅ Das 8h às 10h30 (buffer aplicado - termina antes do ocupado)\n  - ✅ Das 11h30 às 18h (sem buffer - começa depois do ocupado)\n  \n* **Ocupado das 14h às 15h:**\n  - ✅ Das 8h às 13h30 (buffer aplicado - termina antes do ocupado)\n  - ✅ Das 15h às 18h (sem buffer - começa depois do ocupado)\n\n**Apresentação dos horários:**\n\n**Se tiver horários livres:**\n* Agrupe por período: manhã (8h-12h) / tarde (13h-18h)\n* **Horários consecutivos:** \"das 8h às 10h30, das 11h30 às 12h\"\n* **Horários isolados:** \"às 15h, às 16h30\"\n* **Exemplo:** \"Temos pela manhã das 8h às 10h30 e das 11h30 às 12h; à tarde das 13h às 18h\"\n\n**Se realmente sem horários:**\n* \"O dia X está completamente ocupado. Posso sugerir outros dias?\"\n\n## CONTEXTO\nVocê deve SEMPRE consultar os eventos ocupados primeiro para calcular disponibilidade real. O buffer de 30 minutos evita que pacientes cheguem muito próximo ao horário seguinte ocupado, mas NÃO afeta horários que começam após um ocupado.\n\n## REGRAS\n* ✅ **SEMPRE** consultar eventos ocupados antes de responder\n* ✅ **SEMPRE** calcular disponibilidade real (8h-18h menos ocupados)\n* ✅ **BUFFER DE 30 MIN:** Aplicar APENAS quando faixa disponível termina imediatamente antes de ocupado\n* ✅ **SEM BUFFER:** Quando faixa disponível começa após um ocupado\n* ✅ **SEMPRE** apresentar horários livres agrupados por período\n* ❌ **NUNCA** dizer \"não temos horários\" sem consultar sistema\n* ❌ **NUNCA** pular a consulta de eventos ocupados\n* ❌ **NUNCA** aplicar buffer desnecessariamente em horários após ocupados\n\n## EXEMPLO PRÁTICO\n**Cenário:** Apenas 10h às 11h ocupado\n**Resposta correta:** \"Temos pela manhã das 8h às 9h30 e das 11h às 12h; à tarde das 13h às 18h.\"\n- ✅ 8h às 9h30 (buffer aplicado - termina antes do ocupado)\n- ✅ 11h às 12h (sem buffer - começa depois do ocupado)\n- ✅ 13h às 18h (sem buffer - não há ocupado depois)","operation":"getAll","calendar":{"__rl":true,"value":"ca65b36490f8f0e06c8cb70a423920c5c4fa670c66e83242c8c1d8d3b4bca1b8@group.calendar.google.com","mode":"list","cachedResultName":"Karen"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[352,384],"id":"e78cf43e-159f-400c-b1e9-ce1e3606fd91","name":"listar_eventos"},{"parameters":{"descriptionType":"manual","toolDescription":"=Use essa tool para criação de novos agendamentos \n\n# REGRAS\n- Apenas crie o evento apos o a confirmação\n- Use `listar_eventos` para verificar se o horário ainda está disponível\n- Crie apenas se o horário estiver disponível\n- Retorne o EvenId para confirmação\n- Retorne \"status\": \"agendado\"\n- ❌ **NUNCA** criar se horário ocupado\n- ❌ **NUNCA** criar sem confirmação ","calendar":{"__rl":true,"value":"ca65b36490f8f0e06c8cb70a423920c5c4fa670c66e83242c8c1d8d3b4bca1b8@group.calendar.google.com","mode":"list","cachedResultName":"Karen"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":false,"additionalFields":{"attendees":[],"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[464,384],"id":"9e6f284e-c0e5-4b15-ac84-577ffa898744","name":"criar_evento"},{"parameters":{"descriptionType":"manual","toolDescription":"=Use essa ferramenta para cancelar um evento já criado com EventId\n- Apenas cancele se o lead confirmar\n- Retorne \"status\": \"cancelado\"","operation":"delete","calendar":{"__rl":true,"value":"ca65b36490f8f0e06c8cb70a423920c5c4fa670c66e83242c8c1d8d3b4bca1b8@group.calendar.google.com","mode":"list","cachedResultName":"Karen"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,384],"id":"71440ae7-94cf-4960-816c-d8f0159591d8","name":"deletar_evento"},{"parameters":{"path":"clinica-x"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[432,224],"id":"72ec663f-da62-492c-b893-192827915225","name":"MCP Agendamento","webhookId":"dc82314e-4fdd-4ca7-b837-fdff00495580","notesInFlow":false},{"parameters":{"content":"## Agendamento","height":448,"width":608,"color":5},"type":"n8n-nodes-base.stickyNote","position":[240,128],"typeVersion":1,"id":"8ef8a6d0-f269-4f56-ba62-3ecf623de884","name":"Sticky Note1"},{"parameters":{"content":"## AGENTE DE IA ","height":440,"width":616,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[224,-416],"id":"e544cc70-4f72-43ce-a830-d97bc411d3db","name":"Sticky Note11"},{"parameters":{"resource":"messages-api","instanceName":"olimphia","remoteJid":"={{ $('Dados').item.json.Numero }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1536,-160],"id":"9f91b001-2e8f-4fd8-a29d-4c60ddc4a2a9","name":"Enviar texto","credentials":{}},{"parameters":{"jsonSchemaExample":"{\n  \"mensagem\": \"sua resposta confirmando o agendamento\",\n  \"event_id\": \"id_do_evento_criado\",\n  \"patient_name\": \"Nome do Paciente\",\n  \"dateTime\": \"2025-08-04T08:00:00-03:00\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[576,-128],"id":"74809ee8-1ed9-4506-98e3-7efd9a448a61","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-5-mini","mode":"list","cachedResultName":"gpt-5-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[576,-16],"id":"8b5ebd44-519f-477a-aad7-80e2c91c8944","name":"OpenAI"},{"parameters":{"content":"# [🎥 YOUTUBE](https://www.youtube.com/@igoraloch) \n\n# [📲 INSTAGRAM](https://www.instagram.com/igor.aloch/)\n\n","height":176,"width":520,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1760,-800],"typeVersion":1,"id":"5b3478d2-66e8-488f-94d6-f296b2cf0f21","name":"Sticky Note7"},{"parameters":{"httpMethod":"POST","path":"webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2448,448],"id":"328a3827-301a-4738-a429-f0760033e223","name":"Webhook","webhookId":"2f215e0a-e28d-4b7b-a8e2-e160f722c0bc"}],"connections":{"Webhook EVO":{"main":[[{"node":"Dados","type":"main","index":0}]]},"Dados":{"main":[[{"node":"Consulta se o Lead existe","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"divide_msgs","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"End","type":"main","index":0}],[{"node":"Enviar texto","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch1":{"main":[[{"node":"text","type":"main","index":0}],[{"node":"text","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"transcript","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"text":{"main":[[{"node":"finalText","type":"main","index":0}]]},"transcript":{"main":[[{"node":"finalText","type":"main","index":0}]]},"finalText":{"main":[[{"node":"push","type":"main","index":0}]]},"push":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"msgs","type":"main","index":0}]]},"msgs":{"main":[[{"node":"filterBuffer","type":"main","index":0}]]},"filterBuffer":{"main":[[{"node":"deleteBuffer","type":"main","index":0}]]},"deleteBuffer":{"main":[[{"node":"junta_msgs","type":"main","index":0}]]},"junta_msgs":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"já_existe_numero":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"criar_lead","type":"main","index":0}]]},"divide_msgs":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Chat":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"agendamentos":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"criar_lead":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Consulta se o Lead existe":{"main":[[{"node":"já_existe_numero","type":"main","index":0}]]},"reagendar":{"ai_tool":[[{"node":"MCP Agendamento","type":"ai_tool","index":0}]]},"listar_eventos":{"ai_tool":[[{"node":"MCP Agendamento","type":"ai_tool","index":0}]]},"criar_evento":{"ai_tool":[[{"node":"MCP Agendamento","type":"ai_tool","index":0}]]},"deletar_evento":{"ai_tool":[[{"node":"MCP Agendamento","type":"ai_tool","index":0}]]},"Enviar texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"0c56bed2-ea63-42ed-88e4-ef999db8c042","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T18:50:34.125Z","createdAt":"2026-03-24T18:50:34.125Z","role":"workflow:owner","workflowId":"ZKaNGyOorGz9IByL","projectId":"MZwB9gDGBGN6ebqv"}],"activeVersion":null,"tags":[{"updatedAt":"2026-03-26T17:32:24.555Z","createdAt":"2026-03-26T17:32:24.555Z","id":"whWy0DmvOm7moEyg","name":"IGOR ALOCH"}]}